* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f5f5f5;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rings {
  height: 80px;
  width: 80px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.nav-list a {
  color: black;
  text-decoration: none;
}

.nav-list a.active {
  font-weight: 700;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

header {
  background-color: #f4f4f4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.header {
  position: relative;
  overflow: hidden;
}

.floating-animation {
  width: 30px;
  height: 30px;
}

.floating-animation {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  animation: fallDown 6s linear infinite;
  pointer-events: none;
}

@keyframes fallDown {
  0% {
    top: -100px;
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  100% {
    top: 100vh;
    opacity: 0;
  }
}

.a1 {
  animation-delay: 0s;
}
.a2 {
  animation-delay: 2s;
  left: 30%;
}
.a3 {
  animation-delay: 4s;
  left: 70%;
}
